BACKEND1_PROD/node_modules/
BACKEND1_PROD/dist/
BACKEND1_PROD/.env
BACKEND1_PROD/uploads/
BACKEND1_PROD/temp/
BACKEND1_PROD/tmp/
BACKEND1_PROD/*.log

FRONTEND1_PROD/node_modules/
FRONTEND1_PROD/.pnp
FRONTEND1_PROD/.pnp.*
FRONTEND1_PROD/.yarn/*
!FRONTEND1_PROD/.yarn/patches
!FRONTEND1_PROD/.yarn/plugins
!FRONTEND1_PROD/.yarn/releases
!FRONTEND1_PROD/.yarn/versions
FRONTEND1_PROD/coverage/
FRONTEND1_PROD/.next/
FRONTEND1_PROD/out/
FRONTEND1_PROD/build/
FRONTEND1_PROD/.DS_Store
FRONTEND1_PROD/*.pem
FRONTEND1_PROD/npm-debug.log*
FRONTEND1_PROD/yarn-debug.log*
FRONTEND1_PROD/yarn-error.log*
FRONTEND1_PROD/.pnpm-debug.log*
FRONTEND1_PROD/.env*
FRONTEND1_PROD/.vercel/
FRONTEND1_PROD/*.tsbuildinfo
FRONTEND1_PROD/next-env.d.ts
